body{
  height: 100%;
  margin: 0;
  background-image: linear-gradient(180deg, rgb(240, 94, 118),rgb(230, 83, 107), orange, yellow);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  justify-content: center;
}

input{
  padding: 20px;
  margin-top: 20px;
  border: transparent;
  border-radius: 5px;
}

::placeholder{
  font-style: italic;
  font-size: 15px;

}

.person{
  display: flex;
  gap: 20px;
  background-color: white;
  color: gray;
  margin-top: 20px;
  margin-bottom: 5px;
  width: 480px;
  padding-right: 60px;
  border-radius: 5px;

}

.profileImage{
  margin: 10px 5px 10px 10px;

}

.container{
  display: grid;
  grid-template-columns: 500px 500px;
  column-gap: 80px;
}